body {
    padding: 10px;
}

li, a {
    width: fit-content; 
}

img {
    max-width: 400px;
    min-width: 200px;
}

#place-bid {
    width: fit-content;
}

#new-listing {
    width: 30rem;
}
#input-container {
    width: 20rem;
}
