{% extends "auctions/layout.html" %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h2>{{ listing.title }}</h2>
        </div>
        <div id="listing-card-body" class="card-body">
            <div class="d-flex">
                <img src={{ listing.imageURL }} loading="lazy" alt={{ listing.title }}>
                <p class="card-text mx-5">{{ listing.info }}</p>
            </div>
            <p class="m-3"><strong>Starting Bid:</strong> ${{ listing.price }}</p>

            {% if listing.winner == "None" %}
                {% if user.is_authenticated and user != listing.user %}
                    <div class="d-flex flex-column">
                        <form action="{% url 'auctions:bid' lstng_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Grabs the page path -->
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="start-price" value="{{ listing.price }}">

                            <div class="input-group w-50 mw-25">
                                <input name="bid-input" type="number" class="form-control" step="any" min="0" required="" placeholder=" Bid">
                                <button class="btn btn-primary" type="submit">Place Bid</button>
                            </div>
                        </form>
                        <div class="m-3">
                            <h4>Current Bids:</h4>

                            {% if bids %}

                                <div id="bid-list" style="overflow-y: scroll; width: fit-content; height: 100px; background-color: lightgrey " class="d-flex justify-center">
                                    <ol class=" m-auto px-5 py-1">

                                    {% for bid in bids %}

                                        <li>
                                            <p><strong>{{ bid.bidder }}</strong>: ${{ bid.bid }}</p>
                                        </li>

                                    {% endfor %}

                                    </ol>
                                </div>

                            {% else %}
                                
                                <p>None</p>

                            {% endif %}

                        </div>
                    </div>

                {% elif user == listing.user %}

                    <div>
                        <h4>Current Bids:</h4>

                        {% if bids %}

                            <div id="bid-list" style="overflow-y: scroll; width: fit-content; height: 100px; background-color: lightgrey " class="d-flex justify-center">
                                <ol class=" m-auto px-5 py-1">

                                {% for bid in bids %}

                                    <li>
                                        <p><a href="{% url 'auctions:user' uid=bid.bidder.id %}"><strong>{{ bid.bidder }}</strong></a>: ${{ bid.bid }}</p>
                                    </li>

                                {% endfor %}

                                </ol>
                            </div>

                        {% else %}
                            
                            <p>None</p>

                        {% endif %}

                    </div>

                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer text-muted">

            {% if listing.winner != "None"%}

                <h4>Listing Closed</h4>         

                {% for bid in bids %}

                    {% if forloop.counter == 1 %}

                        <h5>Winner: <a href="{% url 'auctions:user' uid=bid.bidder.id %}"><strong>{{ listing.winner }}</strong></a> (${{ bid.bid }})</h5>
                    
                    {% endif %}

                {% endfor %}
                
            {% endif %}

            {% if user.is_authenticated and user.id == listing.user.id%}

                {% if listing.winner == "None" %}
                    <!-- CLOSE AUCTION -->
                    <div class="m-3">
                        <form action="{% url 'auctions:close_listing' lstng_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Grabs the page path -->
                            <input type="hidden" name="next" value="{{ request.path }}">
                            {% for bid in bids %}
                                {% if forloop.counter == 1 %}
                                    <input type="hidden" name="top-bidder" value="{{ bid.bidder }}">
                                {% endif %}
                            {% endfor %}
                            <div id="close-prompt">
                                <p><strong>Are you sure?</strong><p>
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button class="btn btn-secondary" type="button" id="close-cancel">Cancel</button>
                            </div>
                        </form>
                        <button class="btn btn-success" type="button" id="close">Close Auction</button>
                    </div>
                {% else %}

                    <div id="close-prompt" class="d-none"></div>
                    <div id="close-cancel" class="d-none"></div>
                    <div id="close" class="d-none"></div>

                {% endif %}
                <!-- DELETE LISTING -->
                <div class="m-3">
                <form action="{% url 'auctions:delete_listing' lstng_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <!-- Grabs the page path -->
                    <input type="hidden" name="next" value="{{ request.path }}">

                    <div id="del-prompt">
                        <p><strong>Are you sure?</strong><p>
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <button class="btn btn-secondary" type="button" id="del-cancel">Cancel</button>
                    </div>
                </form>
                <button type="button" class="btn btn-danger" id="delete">Delete Listing</button>
                </div>

            {% endif %}

            <h4>Details</h4>
            <ul>
                <li class="nav-item">Listed by: <a class="nav-link" href="{% url 'auctions:user' uid=listing.user.id %}">{{ listing.user }}</a></li>
                <li class="nav-item">Category: <a class="nav-link" href="{% url 'auctions:category' cat=listing.category %}">{{ listing.category }}</a></li>
            </ul>

            {% if user.is_authenticated and user != listing.user %}

                <form action="{% url 'auctions:watchlist' %}" method="POST">
                    {% csrf_token %}
                    <!-- Grabs the page path -->
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <!-- Grabs the item/lsiting id -->
                    <input type="hidden" name="listing-id" value="{{ listing.id }}">

                        {% if user in listing.watchList.all %}

                            <button class="btn btn-warning" type="submit" name="watch" value="remove">Remove from watchlist</button>

                        {% else %}

                            <button class="btn btn-success" type="submit" name="watch" value="add">Add to watchlist</button>

                        {% endif %}

                </form>

            {% endif %}

            <div class="mt-5">
                <h4 class="my-3">Comments</h4>

                {% if user.is_authenticated %}

                    <form class="m-5" action="{% url 'auctions:comment' lstng_id=listing.id %}" method="POST">
                    {% csrf_token %}
                        <!-- Grabs the page path -->
                        <input type="hidden" name="next" value="{{ request.path }}">

                        <textarea rows="4" cols="50" name="new-comment" placeholder="Add a comment"></textarea>
                        <br>
                        <button class="btn btn-secondary mt-3" type="submit" name="comment-bttn" value="post">Post</button>
                    </form>

                {% endif %}

                <div class="bg-white pt-3 pb-4 mt-5 mb-3">

                    {% if comments %}

                        {% for comment in comments %}

                            <form class="ml-5 w-75" action="{% url 'auctions:comment' lstng_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Grabs the page path -->
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <!-- Grabs the comment id -->
                                <input type="hidden" name="comment-id" value="{{ comment.id }}">
                                <div>
                                    <p name="author"><a class="nav-link" href="{% url 'auctions:user' uid=comment.commenter.id %}"><strong>{{ comment.commenter }}</strong></a></p>
                                    <p class="ml-5" name="comment">{{ comment.comment }}</p>
                                </div>
                                {% if request.user == comment.commenter %}

                                    <button class="btn btn-danger mt-5 ml-5" type="submit" name="comment-bttn" value="delete">Delete</button>
                                
                                {% endif %}

                            </form>
                            <div class="d-flex justify-center my-5">
                                <div class="border border-grey w-75 mx-auto"></div>
                            </div>

                        {% endfor %}

                    {% else %}

                        <p class="ml-3">No Comments</p>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated and user.id == listing.user.id%}
        <script>
            // Close Auction
            const closeBttn = document.getElementById("close");
            const cancelClose = document.getElementById("close-cancel");
            const closePrompt = document.getElementById("close-prompt");
            closePrompt.style.display = "none";
            closeBttn.addEventListener("click", () => {
                closeBttn.style.display = "none";
                closePrompt.style.display = "block";
            });
            cancelClose.addEventListener("click", () => {
                closeBttn.style.display = "block";
                closePrompt.style.display = "none";
            });

            // Delete Listing
            const deleteBttn = document.getElementById("delete");
            const cancelDelete = document.getElementById("del-cancel");
            const deletePrompt = document.getElementById("del-prompt");
            deletePrompt.style.display = "none";
            deleteBttn.addEventListener("click", () => {
                deleteBttn.style.display = "none";
                deletePrompt.style.display = "block";
            });
            cancelDelete.addEventListener("click", () => {
                deleteBttn.style.display = "block";
                deletePrompt.style.display = "none";
            });
        </script>
    {% endif %}

{% endblock %}