{% extends "auctions/layout.html" %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h2>{{ listing.title }}</h2>
        </div>
        <div id="listing-card-body" class="card-body">
            <img src={{ listing.imageURL }} loading="lazy" alt={{ listing.title }}>
            <p class="card-text">{{ listing.info }}</p>
            <p>{{ listing.price }}</p>
            <form class="d-flex flex-column">
                <div class="input-group w-50 mw-25">
                    <input type="number" class="form-control" step="any" required="" placeholder=" Bid">
                    <button class="btn btn-primary" type="button">Place Bid</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            <h4>Details</h4>
            <ul>
                </ul>
        </div>
      </div>

{% endblock %}